pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "setDateToken",
				"description": "Create The String with date",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "PrimaryVariableSet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "DateToken",
					"value": {
						"value": "@formatDateTime(utcnow(), 'yyyyMMddHHmmss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "setYearFolder",
				"description": "Create The String with date",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "yearfolder",
					"value": {
						"value": "@formatDateTime(utcnow(), 'yyyy')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "setMonthFolder",
				"description": "Create The String with date",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "monthfolder",
					"value": {
						"value": "@formatDateTime(utcnow(), 'MM')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "setDayFolder",
				"description": "Create The String with date",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "dayfolder",
					"value": {
						"value": "@formatDateTime(utcnow(), 'dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "MergingAttributeAndArchiving",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "all variables assigned",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"AttributeId": "AttributeId",
							"ClientId": "ClientId",
							"AttributeTypeId": "AttributeTypeId",
							"LocationId": "LocationId",
							"PersonId": "PersonId",
							"ListItemId": "ListItemId",
							"ListOptionId": "ListOptionId",
							"BooleanValue": "BooleanValue",
							"DateValue": "DateValue",
							"NumericValue": "NumericValue",
							"UnitCode": "UnitCode",
							"AttributeName": "AttributeName",
							"TextValue": "TextValue",
							"BinaryValue": "BinaryValue"
						}
					}
				}
			},
			{
				"name": "setIMSPath",
				"description": "This will build the path use to archive today's data",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "PrimaryVariableSet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "IMSPath",
					"value": {
						"value": "@concat('archives/',variables('yearfolder'),'/',variables('monthfolder'),'/',variables('dayfolder'),'/','IMS')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "all variables assigned",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "setDateToken",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "setIMSPath",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Token",
					"value": "Yes we are ready to work"
				}
			},
			{
				"name": "PrimaryVariableSet",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "setYearFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "setMonthFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "setDayFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Token",
					"value": "Yes we are ready to work"
				}
			},
			{
				"name": "MergingEmployeeAndArchiving",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "all variables assigned",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"sink": {
						"type": "BlobSink",
						"copyBehavior": "MergeFiles"
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"EmployeeId": "EmployeeId",
							"PersonId": "PersonId",
							"EmployeeTypeId": "EmployeeTypeId",
							"EmployeeStatusId": "EmployeeStatusId",
							"ExternalLocationId": "ExternalLocationId",
							"AddressId": "AddressId",
							"SupervisorId": "SupervisorId",
							"StartDate": "StartDate",
							"EndDate": "EndDate",
							"CurrentPositionStart": "CurrentPositionStart",
							"ContractStart": "ContractStart",
							"ContractEnd": "ContractEnd",
							"YearsInJob": "YearsInJob",
							"YearsInCurrentJob": "YearsInCurrentJob",
							"EmployeeNumber": "EmployeeNumber",
							"ExternalNumber": "ExternalNumber",
							"OtherJobTitle": "OtherJobTitle",
							"OtherJobFunction": "OtherJobFunction",
							"BusinessPhone": "BusinessPhone",
							"Notes": "Notes"
						}
					}
				}
			},
			{
				"name": "All Archiving Done",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "MergingAttributeAndArchiving",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "MergingEmployeeAndArchiving",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "MergingHistoryAndArchiving",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "MergingHistoryEntryAndArchiving",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "MergingIncidentHasAttributeAndArchiving",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "MergingIncidentHasListItemAndArchiving",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "MergingIncidentInvolvedAndArchiving",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "MergingIncidentTypeHasAgencyAndArchiving",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "MergingListItemAndArchiving",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "MergingIncidentAndArchiving",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "MergingLocationAndArchiving",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "MerginIncidentHasType",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Token",
					"value": "Yup Archived"
				}
			},
			{
				"name": "MergingHistoryAndArchiving",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "all variables assigned",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"sink": {
						"type": "BlobSink",
						"copyBehavior": "MergeFiles"
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"HistoryId": "HistoryId",
							"CreatedById": "CreatedById",
							"LastEditedById": "LastEditedById",
							"Created": "Created",
							"LastEdited": "LastEdited",
							"Notes": "Notes",
							"Revision": "Revision"
						}
					}
				}
			},
			{
				"name": "MergingHistoryEntryAndArchiving",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "all variables assigned",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"sink": {
						"type": "BlobSink",
						"copyBehavior": "MergeFiles"
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"HistoryEntryId": "HistoryEntryId",
							"HistoryId": "HistoryId",
							"HistoryEntryTypeId": "HistoryEntryTypeId",
							"PersonId": "PersonId",
							"FromAttributeId": "FromAttributeId",
							"ToAttributeId": "ToAttributeId",
							"EntryDate": "EntryDate",
							"Title": "Title",
							"ApplicationTypeId": "ApplicationTypeId"
						}
					}
				}
			},
			{
				"name": "MergingIncidentHasAttributeAndArchiving",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "all variables assigned",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"sink": {
						"type": "BlobSink",
						"copyBehavior": "MergeFiles"
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"Id": "Id",
							"IncidentId": "IncidentId",
							"AttributeId": "AttributeId"
						}
					}
				}
			},
			{
				"name": "MergingIncidentHasListItemAndArchiving",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "all variables assigned",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"sink": {
						"type": "BlobSink",
						"copyBehavior": "MergeFiles"
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"Id": "Id",
							"IncidentId": "IncidentId",
							"ListItemId": "ListItemId",
							"ExtraInformation": "ExtraInformation"
						}
					}
				}
			},
			{
				"name": "MergingIncidentInvolvedAndArchiving",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "all variables assigned",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"sink": {
						"type": "BlobSink",
						"copyBehavior": "MergeFiles"
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"IncidentInvolvedId": "IncidentInvolvedId",
							"IncidentId": "IncidentId",
							"PersonId": "PersonId",
							"InvolvementTypeId": "InvolvementTypeId",
							"LocationId": "LocationId",
							"AddressId": "AddressId",
							"SupervisorId": "SupervisorId",
							"RelationshipId": "RelationshipId",
							"JobTitleId": "JobTitleId",
							"JobFunctionId": "JobFunctionId",
							"ActivityId": "ActivityId",
							"Gender": "Gender",
							"DrugTestPerformed": "DrugTestPerformed",
							"AlcoholTestPerformed": "AlcoholTestPerformed",
							"BirthDate": "BirthDate",
							"HireDate": "HireDate",
							"OriginalHireDate": "OriginalHireDate",
							"ShiftStart": "ShiftStart",
							"DrugTestDate": "DrugTestDate",
							"AlcoholTestDate": "AlcoholTestDate",
							"HoursOnDuty": "HoursOnDuty",
							"DaysOffshore": "DaysOffshore",
							"YearsInJob": "YearsInJob",
							"TotalYearsExperience": "TotalYearsExperience",
							"YearsAtLocation": "YearsAtLocation",
							"DisplayName": "DisplayName",
							"ContactInformation": "ContactInformation",
							"BusinessPhone": "BusinessPhone",
							"HomePhone": "HomePhone",
							"MobilePhone": "MobilePhone",
							"EmployeeNumber": "EmployeeNumber",
							"SupervisorName": "SupervisorName",
							"OtherLocation": "OtherLocation",
							"OtherRelationship": "OtherRelationship",
							"OtherJobTitle": "OtherJobTitle",
							"OtherJobFunction": "OtherJobFunction",
							"OtherActivity": "OtherActivity",
							"Details": "Details"
						}
					}
				}
			},
			{
				"name": "MergingIncidentTypeHasAgencyAndArchiving",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "all variables assigned",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"sink": {
						"type": "BlobSink",
						"copyBehavior": "MergeFiles"
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"Id": "Id",
							"IncidentId": "IncidentId",
							"IncidentTypeId": "IncidentTypeId",
							"AgencyId": "AgencyId",
							"ReportDate": "ReportDate",
							"ReportNumber": "ReportNumber",
							"AgencyInfo": "AgencyInfo",
							"ReportingMethodId": "ReportingMethodId"
						}
					}
				}
			},
			{
				"name": "MergingListItemAndArchiving",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "all variables assigned",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"sink": {
						"type": "BlobSink",
						"copyBehavior": "MergeFiles"
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"Item": "Item",
							"ShortName": "ShortName",
							"Description": "Description",
							"ListItemId": "ListItemId",
							"ListTypeCode": "ListTypeCode",
							"ParentId": "ParentId",
							"ClientId": "ClientId",
							"LocationId": "LocationId",
							"ListOrder": "ListOrder",
							"Code": "Code",
							"Active": "Active",
							"HistoryId": "HistoryId"
						}
					}
				}
			},
			{
				"name": "MergingIncidentAndArchiving",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "all variables assigned",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"sink": {
						"type": "BlobSink",
						"copyBehavior": "MergeFiles"
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"IncidentId": "IncidentId",
							"ClientId": "ClientId",
							"IncidentCategoryId": "IncidentCategoryId",
							"IncidentStatusId": "IncidentStatusId",
							"LocationId": "LocationId",
							"OffsiteLocationId": "OffsiteLocationId",
							"ContractingCompanyId": "ContractingCompanyId",
							"AddressId": "AddressId",
							"ProcessId": "ProcessId",
							"ActivityId": "ActivityId",
							"OnPremises": "OnPremises",
							"Downtime": "Downtime",
							"Ppeworn": "Ppeworn",
							"InsuranceNotified": "InsuranceNotified",
							"DrugTestPerformed": "DrugTestPerformed",
							"AlcoholTestPerformed": "AlcoholTestPerformed",
							"Rcaperformed": "Rcaperformed",
							"Preventable": "Preventable",
							"Recurrence": "Recurrence",
							"ProcessSafety": "ProcessSafety",
							"WorkRelated": "WorkRelated",
							"Litigable": "Litigable",
							"Sensitive": "Sensitive",
							"AgencySensitive": "AgencySensitive",
							"Media": "Media",
							"TitleV": "TitleV",
							"IncludeInStatistics": "IncludeInStatistics",
							"IncidentDate": "IncidentDate",
							"ReportDate": "ReportDate",
							"InvestigationStartDate": "InvestigationStartDate",
							"EndDate": "EndDate",
							"InsuranceNotifiedDate": "InsuranceNotifiedDate",
							"DrugTestDate": "DrugTestDate",
							"AlcoholTestDate": "AlcoholTestDate",
							"DowntimeAmount": "DowntimeAmount",
							"Latitude": "Latitude",
							"Longitude": "Longitude",
							"WindSpeed": "WindSpeed",
							"TimeToExtinguish": "TimeToExtinguish",
							"DowntimeUnitCode": "DowntimeUnitCode",
							"WindSpeedUnitCode": "WindSpeedUnitCode",
							"TimeToExtinguishUnitCode": "TimeToExtinguishUnitCode",
							"IncidentNumber": "IncidentNumber",
							"Title": "Title",
							"ReportedBy": "ReportedBy",
							"ReporterPhone": "ReporterPhone",
							"InsuranceClaim": "InsuranceClaim",
							"Equipment": "Equipment",
							"Vehicle": "Vehicle",
							"OffPremisesLocation": "OffPremisesLocation",
							"OtherLocation": "OtherLocation",
							"OtherContractingCompany": "OtherContractingCompany",
							"OtherProcess": "OtherProcess",
							"OtherActivity": "OtherActivity",
							"OtherPpe": "OtherPpe",
							"OtherWeather": "OtherWeather",
							"Description": "Description",
							"ActivityDuringIncident": "ActivityDuringIncident",
							"ImmediateAction": "ImmediateAction",
							"ImmediateCauses": "ImmediateCauses",
							"CausalFactors": "CausalFactors",
							"BestPractices": "BestPractices",
							"RiskAction": "RiskAction",
							"RiskCondition": "RiskCondition",
							"InsuranceInfo": "InsuranceInfo",
							"Active": "Active",
							"Archived": "Archived",
							"HistoryId": "HistoryId"
						}
					}
				}
			},
			{
				"name": "MergingLocationAndArchiving",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "all variables assigned",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"sink": {
						"type": "BlobSink",
						"copyBehavior": "MergeFiles"
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"Location": "Location",
							"LocationId": "LocationId",
							"ParentLocationId": "ParentLocationId",
							"ClientId": "ClientId",
							"LocationCategoryId": "LocationCategoryId",
							"LocationStatusId": "LocationStatusId",
							"LocationTypeId": "LocationTypeId",
							"LocationTreeLevel": "LocationTreeLevel",
							"Lft": "Lft",
							"Rgt": "Rgt",
							"LocationCode": "LocationCode",
							"ExternalReference": "ExternalReference",
							"ShortName": "ShortName",
							"Description": "Description",
							"Active": "Active",
							"Archived": "Archived",
							"HistoryId": "HistoryId",
							"LocationOrder": "LocationOrder"
						}
					}
				}
			},
			{
				"name": "MerginIncidentHasType",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "all variables assigned",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"sink": {
						"type": "BlobSink",
						"copyBehavior": "MergeFiles"
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"Id": "Id",
							"IncidentId": "IncidentId",
							"IncidentTypeId": "IncidentTypeId",
							"Reportable": "Reportable"
						}
					}
				}
			}
		],
		"variables": {
			"DateToken": {
				"type": "String",
				"defaultValue": "YYYYMMDD"
			},
			"yearfolder": {
				"type": "String",
				"defaultValue": "YYYY"
			},
			"monthfolder": {
				"type": "String",
				"defaultValue": "MM"
			},
			"dayfolder": {
				"type": "String",
				"defaultValue": "DD"
			},
			"IMSPath": {
				"type": "String",
				"defaultValue": "makeit"
			},
			"Token": {
				"type": "String",
				"defaultValue": "I'm A Token, just for centralize arrows "
			}
		},
		"annotations": []
	}
}